services:
  vault:
    image: hashicorp/vault:1.17
    container_name: vault
    restart: unless-stopped
    cap_add:
      - IPC_LOCK
    ports:
      - "8200:8200"
    environment:
      VAULT_ADDR: "http://127.0.0.1:8200"
    volumes:
      - vault_file:/vault/file
      - ./vault/config:/vault/config:ro
      - ./shared:/shared
    command: vault server -config=/vault/config/vault.hcl

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./shared:/shared:ro

volumes:
  vault_file:
